.board-container {
    display: flex;
    /* centers along vertical main axis; horizontally. */
    justify-content: center; 
}

#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

#winner {
    text-align: center;
}

.winner-red, #red-player {
    color: red;
}

.winner-yellow, #yellow-player {
    color: rgb(112, 112, 4);
}