.flash-messages-container {
    text-align: center;
    align-items: flex-end;
}


.profile-links-nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 4%;
}

.profile-content {
    flex-wrap: wrap;
}

.scores-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 5%; 
}

.profile-username-and-message {
    margin-left: 5%;
}