#scoreboard-table {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: 3% auto 0 auto; /* clockwise: top, right, bottom, left */
}

#scoreboard-table td, #scoreboard-table th {
    border: 1px solid #706f6f;
    padding: 8px;
    text-align: center;
}

#scoreboard-table tr:nth-child(even){background-color: #f2f2f2;}
#scoreboard-table tr:hover{background-color: #ddd;}

#scoreboard-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: purple;
    color: white;
  }

.table-caption {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 2%;
}