<%= content_for :head_script_connect4 do %>
  <%= javascript_import_module_tag "connect4" %>
<% end %>

<h1> Connect4 </h1>
<h3 id="red-player"> Red Player: </h3>
<h3 id="yellow-player"> Yellow Player: </h3>
<h2 id="winner"> </h2>
<div id="connect4-button-div"> </div>
<div class="board-container"> 
    <div id="board"><div>
</div>


<%# <div class="connect4-button" hidden> <%= link_to "Next Round", next_round_path, class: "decor-button button-shadow" %> 
