<%= content_for :head_script_connect4 do %>
  <%= javascript_import_module_tag "connect4" %>
<% end %>

<h1> Connect4 </h1>
<h2 id="winner"> </h2>
<div class="board-container"> 
    <div id="board"><div>
</div>
