<% if flash[:alert] %>
  <div class="flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<h1> Create User Account </h1>

<main> 
  <%= render "form", user: @user %>

  <br> 

  <div class="form-back-button">
    <%= link_to "Back", "/", class: "decor-button button-shadow" %>
  </div>
</main>