<h1> Update Your Account Information</h1>

<% if flash[:alert] %>
  <div class="flash-alert">
    <span> <%= flash[:alert] %> </span>
  </div>
<% end %>

<main>
  <%= render "form", user: @user %>

  <br>

  <div class="form-back-button">
    <%= link_to "Back", access_profile_path(user_id: @user.id), class: "decor-button button-shadow" %> 
  </div>
</main>