<% if flash[:alert] %>
  <div class="flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<br>
<h1> Update Your Account Information</h1>

<main>
  <%= render "form", user: @user %>

  <br>

  <div class="form-back-button">
    <%= link_to "Back", access_profile_path(user_id: @user.id), class: "decor-button button-shadow" %> 
  </div>
</main>