<%# http://localhost:3000/users %>

<h1> List of users: </h1>
<ul>
    <% @users.each do |user| %>
        <li>
            <%# user contains path and id of this user object. %>
            <% link_to user.name, user %>
        </li>
    <% end %>
<ul>

